<section class="contacts">
  <div class="container">
    <h2 class="title">{{ 'sections.contacts.title' | t }}</h2>
    <ul class="list">
      <li class="row">
        <span class="label">{{ 'contacts.phone' | t }}</span>
        <a class="value" [href]="'tel:' + content.content().contacts.phone">{{ content.content().contacts.phone }}</a>
      </li>
      <li class="row">
        <span class="label">{{ 'contacts.telegram' | t }}</span>
        <a class="value" [href]="'https://t.me/' + content.content().contacts.telegram.replace('@','')" target="_blank" rel="noopener">{{ content.content().contacts.telegram }}</a>
      </li>
      <li class="row">
        <span class="label">{{ 'contacts.email' | t }}</span>
        <a class="value" [href]="'mailto:' + content.content().contacts.email">{{ content.content().contacts.email }}</a>
      </li>
      <li class="row">
        <span class="label">{{ 'contacts.linkedin' | t }}</span>
        <a class="value" [href]="content.content().contacts.linkedin" target="_blank" rel="noopener">LinkedIn</a>
      </li>
    </ul>
  </div>
</section>

