<section class="exp">
  <div class="container">
    <h2 class="title">{{ 'sections.experience.title' | t }}</h2>

    <ol class="timeline">
      <li class="item" *ngFor="let it of content.content().experience">
        <div class="when">{{ it.when }}</div>
        <div class="org">{{ it.org }}</div>
        <div class="sector" *ngIf="it.sector">{{ it.sector }}</div>
        <div class="role">{{ it.role }}</div>
        <ul class="bullets">
          <li *ngFor="let b of it.bullets">{{ b }}</li>
        </ul>
      </li>
    </ol>
  </div>
</section>

