<section class="exp">
  <div class="container">
    <h2 class="title">{{ 'sections.experience.title' | t }}</h2>

    <ol class="timeline">
      <li class="item">
        <div class="when">Октябрь 2024 — настоящее время · 11 месяцев</div>
        <div class="org">«Военная академия» ВА РБ · Минск ·</div>
        <div class="sector">Государственные организации</div>
        <div class="role">.NET Developer</div>
        <ul class="bullets">
          <li>Разработал микросервисы с MassTransit, RabbitMQ, Elasticsearch, Redis, MongoDB.</li>
          <li>Оптимизировал PostgreSQL: индексы, GIN полнотекст, ускорение запросов.</li>
          <li>Создал парсер для переноса данных в MinIO, автоматизировал обработку.</li>
          <li>Реализовал чат в реальном времени через SignalR.</li>
          <li>GraphQL, WebSocket, RESTful API: гибкая интеграция фронта и бэка.</li>
          <li>Оптимизировал Angular интерфейс, снизил ошибки пользователей.</li>
          <li>Контейнеризация с Docker для стабильного деплоя.</li>
        </ul>
      </li>

      <li class="item">
        <div class="when">Июнь 2023 — Май 2024 · 1 год</div>
        <div class="org">Полесский государственный университет · Пинск</div>
        <div class="role">.NET Developer</div>
        <ul class="bullets">
          <li>ПО и Telegram‑боты для университета: информирование абитуриентов и студентов.</li>
          <li>Оптимизация проектов: стабильность и удобство систем.</li>
          <li>Усиление коммуникаций и ускорение доступа к информации.</li>
        </ul>
      </li>
    </ol>
  </div>
</section>

